.footer-contact {
  background-color: transparent;
  text-align: center;
  font-size: 1.2rem;
  padding: 4rem;
  clear: both;
  margin: 0 !important;
  padding: 0 !important;
  .inline-list a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin: 0 3px 0 0;
  }
  
  .contact {
    list-style-type: none;
    margin: 0;
    text-align: left;
    color: #fff;
    
    li {
      margin-bottom: 2rem;
      
      p {
        padding-left: 5rem;
      }
    }
    
    i {
      position: absolute;
      background-color: #33383b;
      color: #fff;
      font-size: 2rem;
      border-radius: 50%;
      line-height: 1;
      margin: 0 0 0 -4rem;
      vertical-align: middle;
      padding: .25em .45em;
    }
  }
  
  .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .about {
    color: #92999f;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
  }
  
  .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
    
    &::after {
      content: "•";
      padding: 0 0.2rem 0 0.4rem;
    }
    
    &:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem;
    }
  }
  
  @media only screen and (min-width: 40.063em) {
    
    p {
      text-align: left;
    }
    
    .social {
      text-align: left;
      margin: 0;
    }
    
    .contact {
      text-align: left;
      > i {
        margin-right: 1rem;
      }
    }
    
  }
  
  //Defin the text section style
  .info-block {
    padding: rem-calc(60px) rem-calc(20px);
    background-color: #292c2f;
    min-height: 310px;
  }
  
  //Now let's do the photo part
  .photo-pop {
    padding: 6rem 2rem;
    min-height: 310px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,555555+100&amp;0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(85,85,85,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(85,85,85,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(85,85,85,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(85,85,85,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(85,85,85,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(85,85,85,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6555555',GradientType=0 ); /* IE6-9 */
    h2, p {
      color: $white !important;
      text-align: center;
      text-shadow: 0 1px 2px rgba(25,25,25,0.25);
    }
    h2 {
      font-family: $leckerli;
      border-bottom: 2px solid $white;
    }
    p {
      text-transform: lowercase;
      font-weight: 600;
    }
  }
  
}
