// footer CSS

.footer {
  background-color: $baseColour;
  padding: 2rem 4rem;
  text-align: center;
  color: $text-color;
  i {
    font-size: 100px;
  }
  .button {
    max-width: 85%;
    background: transparent;
    color: $white;
    overflow: hidden;
    border: 2px solid $white;
    padding: 1rem 5rem 1.0625rem 5rem;
    text-transform: uppercase;
    font-weight: 600;
    span {
        z-index: 100;
        position: relative;
    }
    &:hover {
        color: $baseColour;
    }
    &:hover:after {
        height: 350%;
        opacity: 1;
        z-index: 0;
    }
    &:after {
        content: '';
        position: absolute;
        z-index: -1;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        width: 140%;
        height: 0;
        top: 50%;
        left: 50%;
        //background: #D59131;
        background: $white;
        opacity: 0;
        -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
  }
}

.footer {
  h4 {
    color: $text-color;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 2.5rem;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300; 
    font-size: .8em;
    color: $text-color;
  }
}

@media only screen and (min-width: 40.063em) {
.footer {
  .columns:nth-child(n+2) {
    border-left: 1px solid scale-color($text-color, $lightness: -30%);
    min-height: 280px;
  }
 }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}