//Fire up the SCSS specs on that box
section.home-middle {
    background-color: transparent !important;
    .box {
        padding: rem-calc(75px);
        min-height: rem-calc(545px);
        &.left {
            background-color: $baseColour;
            color: $white;
            h2, h4, p {
                color: $white;
            }
            divider {
                width: 65%;
                height: 2px;
                background-color: $white;
                display: block;
            }
            .button {
                max-width: 85%;
                background: transparent;
                color: $white;
                overflow: hidden;
                border: 2px solid $white;
                padding: 1rem 5rem 1.0625rem 5rem;
                text-transform: uppercase;
                font-weight: 600;
                span {
                    z-index: 100;
                    position: relative;
                }
                &:hover {
                    color: $baseColour;
                }
                &:hover:after {
                    height: 350%;
                    opacity: 1;
                    z-index: 0;
                }
                &:after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    -webkit-transition: all 0.3s;
                    transition: all 0.3s;
                    width: 140%;
                    height: 0;
                    top: 50%;
                    left: 50%;
                    //background: #D59131;
                    background: $white;
                    opacity: 0;
                    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
                    transform: translateX(-50%) translateY(-50%) rotate(45deg);
                }
            }
        }
        &.right {
            background-size: cover;
            background-repeat: no-repeat;
            background: -moz-linear-gradient(top, transparent 0%, rgba(85, 85, 85, 0.65) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(85, 85, 85, 0.65)));
            background: -webkit-linear-gradient(top, transparent 0%, rgba(85, 85, 85, 0.65) 100%);
            background: -o-linear-gradient(top, transparent 0%, rgba(85, 85, 85, 0.65) 100%);
            background: -ms-linear-gradient(top, transparent 0%, rgba(85, 85, 85, 0.65) 100%);
            background: linear-gradient(to bottom, transparent 0%, rgba(85, 85, 85, 0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6555555',GradientType=0 );
        }
        .testimonial {
            margin-top: 24vh;
            margin-top: rem-calc(80px);
            text-align: right;
            p {
                color: $white;
                font-weight: 700;
                span {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                }
            }
        }
        blockquote {
            border-left: rem-calc(3px) solid rgba(25,25,25,0.55);
        }
    }
    
    //Style specific to the testimonials carousel
    .owl-carousel {
        .owl-dots {
            background-color: transparent;
        }
    }
    
}