body.single, body.post, body.page {

    //Let's make the content look like we want
    header {
        margin-bottom: 0;
    }
    .container {
        margin-top: 0;
        > .row {
            max-width: 100% !important;
        }
    }
    
}