.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #333;
  color: #fff;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
  -moz-box-shadow: inset 0 0 5px 5px #222;
  box-shadow: inset 0 0 5px 5px #222;
  .sidr-inner {
    padding: 0 0 15px;
    > p {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &.right {
    left: auto;
    right: -260px;
  }
  &.left {
    left: -260px;
    right: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 1rem;
    margin: 0 0 5px;
    color: #fff;
    line-height: 24px;
    background: $orange;
    -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 13px;
    margin: 0 0 12px;
    a {
      color: rgba(255, 255, 255, 0.9);
    }
  }
  > p {
    margin-left: 15px;
    margin-right: 15px;
  }
  ul {
    display: block;
    margin: 0 0 15px;
    padding: 0;
    border-bottom: 1px solid #4d4d4d;
    li {
      display: block;
      margin: 0;
      line-height: 48px;
      border-top: 1px solid #4d4d4d;
      border-bottom: 1px solid #1a1a1a;
      span, input {
        width: 100% !important;
      }
      &:first-of-type {
        border-top: none;
      }
      &:hover > {
        a, span {
          -webkit-box-shadow: inset 0 0 15px 3px #222;
          -moz-box-shadow: inset 0 0 15px 3px #222;
          box-shadow: inset 0 0 15px 3px #222;
        }
      }
      &.active > {
        a, span {
          -webkit-box-shadow: inset 0 0 15px 3px #222;
          -moz-box-shadow: inset 0 0 15px 3px #222;
          box-shadow: inset 0 0 15px 3px #222;
        }
      }
      &.sidr-class-active > {
        a, span {
          -webkit-box-shadow: inset 0 0 15px 3px #222;
          -moz-box-shadow: inset 0 0 15px 3px #222;
          box-shadow: inset 0 0 15px 3px #222;
        }
      }
      a, span {
        padding: 0 15px;
        display: block;
        text-decoration: none;
        color: #fff;
      }
      ul {
        border-bottom: none;
        margin: 0;
        li {
          line-height: 40px;
          font-size: 13px;
          &:last-child {
            border-bottom: none;
          }
          &:hover > {
            a, span {
              -webkit-box-shadow: inset 0 0 15px 3px #222;
              -moz-box-shadow: inset 0 0 15px 3px #222;
              box-shadow: inset 0 0 15px 3px #222;
            }
          }
          &.active > {
            a, span {
              -webkit-box-shadow: inset 0 0 15px 3px #222;
              -moz-box-shadow: inset 0 0 15px 3px #222;
              box-shadow: inset 0 0 15px 3px #222;
            }
          }
          &.sidr-class-active > {
            a, span {
              -webkit-box-shadow: inset 0 0 15px 3px #222;
              -moz-box-shadow: inset 0 0 15px 3px #222;
              box-shadow: inset 0 0 15px 3px #222;
            }
          }
          a, span {
            color: rgba(255, 255, 255, 0.8);
            padding-left: 30px;
          }
        }
      }
    }
  }
  form {
    margin: 0 15px;
  }
  label {
    font-size: 13px;
    color: $white;
  }
  input {
    &[type="text"], &[type="button"], &[type="password"], &[type="date"], &[type="datetime"], &[type="email"], &[type="number"], &[type="search"], &[type="tel"], &[type="time"], &[type="url"] {
      width: 100%;
      font-size: 13px;
      padding: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0 0 10px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      -ms-border-radius: 2px;
      -o-border-radius: 2px;
      border-radius: 2px;
      border: none;
      background: $white;
      color: $oil;
      display: block;
      clear: both;
    }
  }
  textarea, select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: none;
    background: $white;
    color: rgba(255, 255, 255, 0.6);
    display: block;
    clear: both;
  }
  input {
    &[type=checkbox] {
      width: auto;
      display: inline;
      clear: none;
    }
    &[type=button], &[type=submit] {
      color: $white;
      background: $orange;
      width: 100%;
    }
    &[type=button]:hover, &[type=submit]:hover {
      background: ligthen($oil, 10%);
    }
  }
  .textwidget {
    padding: rem-calc(25px);
  }
}

//Gravity forms

.ginput_container {
  span {
    width: 100%;
  }
}